/* container */

/* section */

/* header */

/* Logo */

/* contact us */

/* address */

/* sectiontitle */

/* header menu */

/* maintitle */

/* loremipsum */

/* ouractivity */

/* ourteam */

/* social links */

/* customers */

.customers__logoicon {
	fill: var(--brand-color8);
	border: 1px solid var(--brand-color8); /* dodać do var */
	border-radius: 4px;
	transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1),
		border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.customers {
	display: flex;
	list-style: none;
	gap: 30px;
	margin-top: 50px;
	margin-bottom: 0;
	padding-left: 0;
}

.customers__logoicon:hover {
	border-color: var(--brand-color1);
}

.customers__link:hover .customers__logoicon {
	fill: var(--brand-color1);
}

/* button */

.button {
	background-color: var(--brand-color1);
	color: var(--brand-color3);
	font-family: var(--font-family2);
	font-size: 16px;
	line-height: 1.87;
	letter-spacing: 0.06em;
	font-weight: 700;
	padding-left: 42px;
	padding-top: 10px;
	padding-bottom: 10px;
	border: none;
	cursor: pointer;
	border-radius: 4px;
	box-shadow: 0px 4px rgba(0, 0, 0, 0.15), 0px 4px rgba(0, 0, 0, 0.15),
		0px 4px rgba(0, 0, 0, 0.15);
}
.button--newsletter {
	padding-right: 76px;
}
.button--order {
	padding-right: 42px;
	align-self: center;
}

/* newsletter */

.newsletter__iconsend {
	position: absolute;
	top: 13px;
	right: 28px;
}
.newsletter__form input:focus {
	outline: 0;
}

.newsletter__input:hover {
	border-color: var(--brand-color1);
}
.newsletter__input {
	width: 358px;
	color: var(--brand-color3);
	background: transparent;
	margin-right: 12px;
	padding-block: 14px;
	padding-left: 16px;
	padding-right: 16px;
	border: 1px solid rgba(255, 255, 255, 0.3);
	filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
	border-radius: 4px;
}
.newsletter__input ::placeholder {
	font-family: var(--font-family2);
	font-size: 16px;
	line-height: 20px;
	letter-spacing: 0.03em;
	color: rgba(255, 255, 255, 0.6);
}
.newsletter {
	margin-left: 78px;
	padding-top: 72px;
}
.newsletter__form {
	position: relative;
	display: flex;
	flex-direction: row;
	justify-content: center;
}
.newsletter__signup {
	font-family: var(--font-family2);
	font-weight: 700;
	font-size: 14px;
	line-height: 1.14;
	letter-spacing: 0.03em;
	text-transform: uppercase;
	color: #ffffff;
	padding-bottom: 20px;
}

/* portolio */

.portfolio {
	display: flex;
	list-style: none;
	flex-wrap: wrap;
	margin-top: 0;
	margin-bottom: 0;
	padding-top: 50px;
	gap: 30px;
	margin-left: 0;
	margin-right: 0;
	padding-left: 0;
}
.portfoliomenu__button {
	font-family: var(--font-family2);
	font-weight: 500;
	line-height: 1.63;
	letter-spacing: 0.03em;
	padding-left: 20px;
	padding-right: 20px;
	padding-top: 6px;
	padding-bottom: 6px;
	cursor: pointer;
	border: none;
	border-radius: 4px;
	transition: var(--transition);
}
.portfoliomenu__button:hover {
	color: var(--brand-color3);
	background-color: var(--brand-color1);
	box-shadow: 2px 0px 2px rgba(0, 0, 0, 0.1), 2px 0px 1px rgba(0, 0, 0, 0.1),
		1px 0px 3px rgba(0, 0, 0, 0.1);
	border-radius: 4px;
}
.portfoliomenu__button:active {
	color: var(--brand-color3);
	background-color: var(--brand-color7);
	color: var(--brand-color1);
	box-shadow: 2px 0px 2px rgba(0, 0, 0, 0.1), 2px 0px 1px rgba(0, 0, 0, 0.1),
		1px 0px 3px rgba(0, 0, 0, 0.1);
	border-radius: 4px;
}
.portfolio__item {
	transition: var(--transition);
}
.portfolio__item:hover {
	box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
		0px 2px 1px rgba(0, 0, 0, 0.2);
}
.portfoliomenu__link:not(:last-child) {
	padding-right: 8px;
}
.portfolio__title {
	font-family: var(--font-family2);
	font-size: 18px;
	line-height: 2;
	letter-spacing: 0.06em;
	color: var(--brand-color5);
	padding-left: 24px;
	padding-right: 24px;
	padding-top: 20px;
	margin: 0;
}
.portfolio__description {
	background: var(--brand-color3);
	border: 1px solid #eeeeee;
	border-top: none;
	width: 370px;
}
.portfoliomenu {
	display: flex;
	list-style: none;
	justify-content: center;
	padding-left: 0;
	margin-top: 0%;
	margin-bottom: 0;
}
.portfolio__photo {
	display: block;
}

.portfolio__overlay {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	padding-bottom: 49px;
	padding-top: 49px;
	padding-left: 24px;
	padding-right: 45px;
	background-color: var(--brand-color1);
	opacity: 0.9;
	transform: translatey(100%);
	transition: var(--transition);
}
.portfolio__overlaytext {
	font-family: var(--font-family2);
	font-size: 18px;
	line-height: 1.55;
	letter-spacing: 0.03rem;
	color: var(--brand-color3);
}
.portfolio__photoframe {
	position: relative;
	overflow: hidden;
}
.portfolio__item:hover .portfolio__overlay {
	transform: translatey(0);
}
.portfolio__type {
	font-family: var(--font-family2);
	font-size: 16px;
	line-height: 1.87;
	letter-spacing: 0.03em;
	color: var(--brand-color6);
	padding: 4px 24px 20px 24px;
	margin: 0;
}

/* footer */

.footer-background {
	background-color: var(--brand-color4);
	color: var(--brand-color3);
}
.footerlogo {
	padding-top: 60px;
	margin: 0;
}
.footerdetails {
	display: flex;
	justify-content: flex-start;
}
.footersociallinks {
	padding-top: 72px;
	padding-bottom: 100px;
	margin-left: 70px;
}
.mailfooter {
	padding-top: 9px;
}
.phonefooter {
	padding-top: 9px;
}
.joinus {
	font-family: var(--font-family2);
	font-size: 14px;
	font-weight: 700;
	letter-spacing: 0.03rem;
	line-height: 1, 17;
	text-transform: uppercase;
	padding-bottom: 20px;
}

.logo__studio:focus,
.logo__studio:hover,
.link:focus,
.link:hover,
.mailfooter__link:focus,
.mailfooter__link:hover,
.phonefooter__link:focus,
.phonefooter__link:hover {
	color: var(--brand-color1);
}

/* Okno modalne: */

.backdrop {
	display: flex;
	position: fixed;
	align-items: center;
	justify-content: center;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0 0 0 / 0.5);
	transition: transform 0.25s;
}

.modal__close-btn {
	position: absolute;
	cursor: pointer;
	border-radius: 50%;
	width: 30px;
	height: 30px;
	top: 8px;
	right: 8px;
	background: var(--brand-color3);
	border: 1px solid rgba(0, 0, 0, 0.1);
}

.modal__feedback {
	display: flex;
	border: none;
	width: 416px;
	height: 96px;
}

.modal__input {
	border: none;
	background-color: transparent;
	width: 100%;
	font-family: var(--font-family2);
	font-size: 12px;
	line-height: 1.16;
	letter-spacing: 0.01em;
}

.is-hidden {
	transform: translateX(-100%);
	visibility: hidden;
	opacity: 0;
	pointer-events: none;
}
.modal__legal-checkbox {
	position: relative;
	margin-left: 79px;
	font-family: var(--font-family2);
	font-size: 14px;
	line-height: 1.71;
	letter-spacing: 0.03em;
	color: var(--brand-color6);
}

.modal {
	display: flex;
	flex-direction: column;
	position: relative;
	width: 528px;
	margin: 0 auto;
	background-color: var(--brand-color3);
	box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
		0px 2px 1px rgba(0, 0, 0, 0.2);
	border-radius: 4px;
}

.modal__button {
	display: block;
	border: none;
	width: 0;
	height: 0;
}

.modal__fieldset {
	display: flex;
	position: relative;
	align-items: center;
	margin-left: 40px;
	border: 1px solid rgba(33, 33, 33, 0.2);
	border-radius: 4px;
}
.modal__fieldset--data {
	padding-left: 37px;
	margin-right: 40px;
	padding-block: 7px;
	margin-bottom: 28px;
}
.modal__fieldset--text {
	width: 422px;
	margin-left: 40px;
	margin-bottom: 20px;
	padding-block: 11px;
	padding-left: 15px;
	padding-right: 15px;
}

.modal__fieldset--text ::placeholder {
	font-family: var(--font-family2);
	font-size: 12px;
	line-height: 1.16;
	letter-spacing: 0.01em;
	color: rgba(117, 117, 117, 0.5);
}

.modal__fieldset:has(input:focus) {
	border-color: var(--brand-color1);
}
.modal__fieldset--text:has(textarea:focus) {
	border-color: var(--brand-color1);
}
.modal__fieldset:has(input:focus) .icon {
	fill: var(--brand-color1);
}
.modal__legal-checkbox input {
	display: none;
	pointer-events: none;
}

.modal__legal-checkbox svg {
	position: absolute;
	width: 16px;
	height: 15px;
	fill: transparent;
	border: solid 2px var(--brand-color5);
	border-radius: 2px;
	left: -25px;
	top: 0.5px;
}

.modal__form .icon {
	width: 18px;
	height: 18px;
	fill: var(--brand-color5);
	position: absolute;
	left: 15px;
}

.modal__form .modal__input:focus {
	outline: 0;
}

.modal__form .modal__feedback:focus {
	outline: 0;
}
.modal__form .modal__label {
	position: absolute;
	top: -18px;
	left: 0px;
	font-family: var(--font-family2);
	font-weight: 400;
	font-size: 12px;
	line-height: 1.16;
	letter-spacing: 0.01em;
	color: #757575;
}

.modal__form:has(.modal__legal-checkbox input:checked) span svg {
	border: none;
	fill: var(--brand-color1);
}
.modal__tittle {
	padding-top: 40px;
	padding-bottom: 30px;
	text-align: center;
	font-family: var(--font-family2);
	font-weight: 700;
	font-size: 20px;
	line-height: 1.15;
	letter-spacing: 0.03em;
	color: var(--brand-color5);
}

.statute,
.policy {
	font-family: var(--font-family2);
	font-weight: 400;
	font-size: 14px;
	line-height: 1.71;
	letter-spacing: 0.03em;
	color: var(--brand-color1);
}

.button--modalsend {
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-top: 30px;
	margin-bottom: 40px;
	padding: 10px 76px;
}
